<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Emilia Cole About</title>
    <link rel="stylesheet" href="/css/about.css">
    <script src="https://kit.fontawesome.com/d0b104a98c.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Raleway:wght@100&display=swap" rel="stylesheet">


</head>
<body>
    <header id="Top">
        <nav>
            <ul id="nav" align="right" type="none">
                <li><a href="/views/index.html"> | HOME</a></li>
                <li><a href="/"> | ABOUT</a></li>
                <li><a href="/views/music.html"> | MUSIC</a></li>
                <li><a href="/views/contact.html"> | CONTACT |</a></li>
            </ul>
        </nav>
        <nav>
            <ul id="redes" type="none">
                <li><a href="https://twitter.com" target="_blank"><i class="fa-brands fa-x-twitter"></i></a></li>
                <li><a href="https://facebook.com" target="_blank"><i class="fa-brands fa-facebook"></i></a></li>
                <li><a href="https://www.spotify.com/ar/intl-es/" target="_blank"><i class="fa-brands fa-spotify"></i></a></li>
                <li><a href="https://www.apple.com/la/" target="_blank"><i class="fa-brands fa-apple"></i></a></li>
                <li><a href="https://www.amazon.com/-/es/" target="_blank"><i class="fa-brands fa-amazon"></i></a></li>
                <li><a href="https://instagram.com"><i class="fa-brands fa-instagram"></i></a></li>
            </ul>
        </nav>
    </header>
    <section>
        <h1>ABOUT <br> EMILIA //</h1>
        <article id="texto">
        <p>"Seattle-based pop star makes her <br> indie debut with a hauntingly beautiful album"</p>
        <span>-Jhon Tirckle Music Today Post</span>
    </article>
    <article id="texto">
        <p>"Emilia Cole is one of <br> the scene's breakout stars"</p>

        <span>-Jhon Tirckle Music Today Post</span>
    </article>
    </section>
</body>
</html>