<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Emilia Cole About</title>
    <link rel="stylesheet" href="/public/css/styles.css">
    <script src="https://kit.fontawesome.com/d0b104a98c.js" crossorigin="anonymous"></script>

</head>
<body>
    <header id="Top">
        <nav>
            <ul align="right" type="none">
                <li><a href="/views/home.html">HOME</a></li>
                <li><a href="/">ABOUT</a></li>
                <li><a href="/views/music.html">MUSIC</a></li>
                <li><a href="/views/contact.html">CONTACT</a></li>
            </ul>
        </nav>
        <ul type="none" align="right">
            <li><a href="https://twitter.com" target="_blank"><i class="fa-brands fa-x-twitter"></i></a></li>
            <li><a href="https://facebook.com" target="_blank"><i class="fa-brands fa-facebook"></i></a></li>
            <li><a href="https://www.spotify.com/ar/intl-es/" target="_blank"><i class="fa-brands fa-spotify"></i></a></li>
            <li><a href="https://www.apple.com/la/" target="_blank"><i class="fa-brands fa-apple"></i></a></li>
            <li><a href="https://www.amazon.com/-/es/" target="_blank"><i class="fa-brands fa-amazon"></i></a></li>
            <li><a href="https://instagram.com"><i class="fa-brands fa-instagram"></i></a></li>
        </ul>
    </header>
    <section>
        <h1>ABOUT <br> EMILIA //</h1>
        <article>
        <p>"Seattle-based pop star makes her <br> indie debut with a hauntingly beautiful album" 
        <p>-Jhon Tirckle Music Today Post</span>
    </article>
    <article>
        <img src="/img/emilia-about.jpg" alt="emilia-about" width="450px">
        <p>"Emilia Cole is one of the scene's breakout stars"</p>
        <p>-Jhon Tirckle Music Today Post</ol></span>
    </article>
    </section>
</body>
</html>