<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Emilia Cole</title>
    <link rel="stylesheet" href="/public/css/styles.css">
    <script src="https://kit.fontawesome.com/d0b104a98c.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
    <nav>
    <ul type="none">
        <li><a href="/">HOME</a></li>
        <li><a href="/views/about.html">ABOUT</a></li>
        <li><a href="/views/music.html">MUSIC</a></li>
        <li><a href="/views/contact.html">CONTACT</a></li>
    </ul>
    </nav>
    <ul>
        <li><a href="https://twitter.com" target="_blank"><i class="fa-brands fa-x-twitter"></i></a></li>
        <li><a href="https://facebook.com" target="_blank"><i class="fa-brands fa-facebook"></i></a></li>
        <li><a href="https://www.spotify.com/ar/intl-es/" target="_blank"><i class="fa-brands fa-spotify"></i></a></li>
        <li><a href="https://www.apple.com/la/" target="_blank"><i class="fa-brands fa-apple"></i></a></li>
        <li><a href="https://www.amazon.com/-/es/" target="_blank"><i class="fa-brands fa-amazon"></i></a></li>
        <li><a href="https://instagram.com"><i class="fa-brands fa-instagram"></i></a></li>
    </ul>

</header>
    <section>
    <h3>EMILIA <br> COLE //</h3>
    <h1>TWIST IN MY REALITY</h1>
        <img src="/img/emilia-home.jpg" alt="Emilia Cole img" width="550px">
    </section>
</body>
</html>