<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Emilia Cole Music</title>
    <link rel="stylesheet" href="/public/css/styles.css">
    <script src="https://kit.fontawesome.com/d0b104a98c.js" crossorigin="anonymous"></script>
</head>
<body>
    <header id="Top">
        <img src="/img/emilia-music-top.jpg" alt="emilia-music-top">
        <nav>
            <ul align="right" type="none">
                <li><a href="/views/home.html">HOME</a></li>
                <li><a href="/views/about.html">ABOUT</a></li>
                <li><a href="/">MUSIC</a></li>
                <li><a href="/views/contact.html">CONTACT</a></li>
            </ul>
        </nav>
        <ul type="none" align="right">
            <li><a href="https://twitter.com" target="_blank"><i class="fa-brands fa-x-twitter"></i></a></li>
            <li><a href="https://facebook.com" target="_blank"><i class="fa-brands fa-facebook"></i></a></li>
            <li><a href="https://www.spotify.com/ar/intl-es/" target="_blank"><i class="fa-brands fa-spotify"></i></a></li>
            <li><a href="https://www.apple.com/la/" target="_blank"><i class="fa-brands fa-apple"></i></a></li>
            <li><a href="https://www.amazon.com/-/es/" target="_blank"><i class="fa-brands fa-amazon"></i></a></li>
            <li><a href="https://instagram.com"><i class="fa-brands fa-instagram"></i></a></li>
        </ul>
    </header>
    <section>
        <h1>MUSIC //</h1>
        <ul>
            <h3>Direct links 
                <ol>Album</ol>
                <ol><a href="#video1">Video: Organic Love</a></ol>
                <ol><a href="#video2">Video: Street Light</a></ol>
            </h3>
            <section>
                <article>
                    <h3>ALBUM <br>TWIST IN MY REALITY</h3>
                    <img src="/img/emilia-play-list.png" alt="emilia-play-list">
                    <ol start="01">
                        <li><a href="#video1">Organic Love | 02:40</a></li>
                        <li><a href="#video1"">Twist in My Reality | 02:10</a></li>
                        <li><a href="#video1"">Street Light | 03:28</a></li>
                        <li><a href="#video1"">Love Don't Live Here Anymore (Cover) | 03:39</a></li>
                    </ol>
                </article>
                <span><a href="#Top"> Go Top</a></span>
                
                <article id="video1">
                <h3>VIDEO <br> ORGANIC LOVE</h3>
                <iframe src="https://player.vimeo.com/video/135166028?h=fdb0646ae5" width="640" height="360" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
                    <ul type="none">
                        <li>Directed by VINCE MALC & EMILIA COLE </li>
                        <li>Edited and Filmed by NICOLAS TROY</li>
                        <li>PRoduced by NIKI HEART</li>
                        <li>Wix FIlms LTD</li>
                    </ul>
                <span><a href="#Top"> Go Top</a></span>
            </article>
                <article id="video2">
                <h3>VIDEO <br> STREET LITGHT</h3>
                <iframe src="https://player.vimeo.com/video/134861419?h=24e3183108" width="640" height="360" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
                <ul type="none">
                    <li>Directed by VINCE MALC & EMILIA COLE </li>
                    <li>Edited and Filmed by NICOLAS TROY</li>
                    <li>PRoduced by NIKI HEART</li>
                    <li>Wix FIlms LTD</li>
                </ul>
            </article>
            <span><a href="#Top"> Go Top</a></span>

            </section>
        </ul>
    </section>

    
